* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: blue;
}

ul > li, ol > li {
    list-style: none;
}

body {
    width: 100%;
}

body div.background {
    text-align: center;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-color: green;
}

body div.koko {
    background-color: yellow;
    width: 100px;
    height: 100px;
    margin: 0 auto;
/*    position: absolute;*/
    top: 25%;
    left: 25%;
    animation: animateBackground 10s ease-in infinite;
}

@keyframes animateBackground {
    0%   {transform: scale(1)}
    50%  {transform: scale(1.3)}
    100% {transform: scale(1);}
}




















/*** Footer ***/
footer {
    background: #eee;
    text-align: center;
    padding: 15px 0 0;
    margin-top: 50px;
}
footer .heart {
    display: inline-block;
    margin-bottom: 12px;
    animation: animateHeart 1.5s infinite;
}
footer .heart:before, footer .heart:after {
    position: absolute;
    content: '';
    top: 0;
    left: 8px;
    width: 8px;
    height: 13px;
    background: #f34235;
    border-radius: 60px 60px 0 0;
    transform: rotate(-45deg) translateZ(0);
    transform-origin: 0 100%;
}
footer .heart:after {
    left: 0;
    -webkit-transform: rotate(45deg) translateZ(0);
    transform: rotate(45deg) translateZ(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

/* footer .heart */
@-webkit-keyframes animateHeart {
  0% { -webkit-transform: scale(1); }
  5% { -webkit-transform: scale(1.2); }
  10% { -webkit-transform: scale(1.1); }
  15% { -webkit-transform: scale(1.3); }
  50% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(1); }
}
@keyframes animateHeart {
    0% { -webkit-transform: scale(1); transform: scale(1);}
    5% { -webkit-transform: scale(1.2); transform: scale(1.2); }
    10% { -webkit-transform: scale(1.1); transform: scale(1.1); }
    15% { -webkit-transform: scale(1.3); transform: scale(1.3); }
    50% { -webkit-transform: scale(1); transform: scale(1); }
    100% { -webkit-transform: scale(1); transform: scale(1); }
}

